* {
	/* TODO: 어떤 코드가 들어가야 할까요? */
	box-sizing: border-box;
}

html {
	/* TODO: 어떤 코드가 들어가야 할까요? */
	line-height: 1.15;
  	-webkit-text-size-adjust: 100%;
}

body {
	/* TODO: 어떤 코드가 들어가야 할까요? */
	margin: 0;
	padding: 0;
	font: normal normal 16px/1.6 "Helvetica Neue", helvetica, arial, sans-serif;
}

/* TODO: 또 어떤 코드들이 들어가야 할까요? */

a {
	background-color: transparent;
	text-decoration: none;
	color: inherit;
}
  
img {
	border-style: none;
}

.nav {
	background-color: #242A2F;
	display: flex;
	height: 64px;
	padding: 16px;
}

.logo-div {
	background-color: white;
	border-radius: 50%;
	border: none;
}

nav {
	display: flex;
}

.nav-search-div {
	margin-left: 15px;
	font-size: 14px;
	display: flex;
	color: #aaa;
	align-content: center;
	align-items: center;
}

.nav-search-div div{
	background-color: #404548;
}

.nav-repo-div {
	color: #CED1D1;
	padding: 8px;
	border-radius: 10px 0 0 10px;
}

.nav-search-input {
	margin-left: 2px;
	padding: 8px;
	border-radius: 0 10px 10px 0;
}

.nav-search-input > input {
	background-color: #404548;
	outline: none;
	border: none;
	width: 200px;
}

.nav-search-input > input::placeholder {
	color: #777B7E;
	font-size: 14px;
}

.nav-menu-div {
	display: flex;
	align-items: center;
}

.nav-menu-text {
	display: flex;
	padding-left: 0;
}

.nav-menu-text li {
	list-style: none;
	margin-left: 10px;
	color: #FCFCFC;
}

.nav-menu-text li:hover {
	list-style: none;
	margin-left: 10px;
	color: #C9C9C9;
}

.main {
}

.main-header {
	background-color: #FAFBFC;
	padding: 10px 10% 0 10%;
	border: 1px solid #ccc;
}

.main-header > h1 {
	display: inline-block;
	margin: 0 0 0 20%;
	padding: 10px;
	font-size: 20px;
	font-weight: 400;
}
.main-header > h1 > span a{
	color: #1666D6;
}

.main-header > h1 > img{
	width: 20px;
	height: 20px;
}

.h1-sep{
	color: #333;
}

.main-header > nav {
	margin-left: 19.5%;
}

.main-header > nav > ul{
	display: inline-block;
	margin-bottom: 0;
	padding: 0 0 8px 0;
}

.main-header > nav > ul li {
	display: inline;
	list-style: none;
	margin-left: 20px;
	color: #555;
	padding: 5px;
}

.main-header > nav > ul > li  span{
	background-color: #E8E9EB;
	padding: 2px 6px;
	border-radius: 50%;
}

.main-header > nav > ul > li img{
	margin-bottom: -3px;
}

.main-header > nav > ul > .active {
	color: #333;
	background-color: #fff;
	border-top: 3px solid red;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 5px solid #fff;
	padding: 8px;
}

.main-detail {
	width: 68%;
	margin: 0 16%;
	padding: 0 10%;
}
.main-detail > h2 {
	padding: 0 20px;
	font-weight: 400;
	font-size: 20px;
}

.main-detail-shell {
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 98%;
	margin: 0 1%;
}

.main-detail > div > ul {
	display: flex;
	justify-content: space-around;
	margin: 10px 0;
}

.main-detail > div > ul > li {
	list-style: none;
	display: inline-block;
}

.main-detail > div > ul > li > img{
	margin-bottom: -3px;
}

.main-detail-num {
	font-weight: 600;
}
.main-detail-txt {
	margin-left: 3px;
	font-weight: 400;
}
.main-detail-lang {
	width: 100%;
	height: 5px;
	background-color: #E34C27;
}

.file-detail-div {
	width: 98%;
	margin: 15px 1% 0;
	position: relative;
}

.file-detail-left, .file-detail-right {
	display: inline-block;
}

.file-detail-right {
	position: absolute;
	right: 0;
}

.branch-btn, .pr-link {
	padding: 3px 10px;
	border-radius: 3px;
	border: 1px solid #ccc;
	font-size: 14px;
	font-weight: 450;
	background-color: #F0F4F6;
}

.branch-btn > span {
	color: #777;
}

.file-related-btn-div {
	display: inline-block;
	background-color: #F6F9FB;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.file-related-btn-div > a {
	padding: 3px 10px;
	font-weight: 400;
	font-size: 14px;
	border-right: 1px solid #ccc;
}

.file-related-btn-div > a:last-child {
	border-right: none;
}

.clone-btn {
	padding: 4px 10px;
	font-size: 14px;
	background-color: #48C554;
	color: #fff;
	border: 1px solid #333;
	outline: none;
	border-radius: 3px;
}

.commit-m {
	width: 98%;
	margin-top: 10px;
	margin-left: 1%;
	background-color: #F0F8FE;
	border: 1px solid #C8E1FF;
	border-radius: 3px 3px 0 0;
	height: 40px;
	padding: 0;
}

.commit-m > p {
	margin: auto 0;
	padding: 8px 6px;
	font-size: 14px;
}

.commit-m > p > span {
	font-weight: 450;
}

.architecture-div {
	width: 98%;
	margin-left: 1%;
}

.architecture-div > table {
	margin-top: -30px;
	width: 100%;
	box-sizing: border-box;
	border-radius: 0 0 5px 5px;
	border-collapse: collapse;
}

.table-info{
	visibility: hidden;
}

.architecture-row:first-child {
	border-top: 1px solid #c8e1ff;
}

.architecture-row {
	font-size: 14px;
	color: #666;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.architecture-row > td {
	padding: 8px;
}

.architecture-row > td:last-child {
	text-align: right;
}

.architecture-row:last-chiid {
	border-radius: 0 0 5px 5px;
}

.active-row {
	background-color: #F6F8FA;
}

.archi-img {
	margin-bottom: -3px;
}

.arch-file-name {
	color: #1666d6;
}

.file-detail-info {
	margin-top: 10px
}

.file-detail-header {
	display: flex;
	background-color: #F5F8FA;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 10px;
}

.file-detail-header > h3 {
	margin: 0 0 0 10px;
	font-size: 14px;
}

.file-detail-content {
	border: 1px solid #ccc;
	border-radius: 0 0 3px 3px;
	padding: 20px 10px 20px 20px;
}

.file-detail-content > hr {
	width: 90%;
	margin-left: 0;
	border: 1px solid #ccc;
}

.footer {
	width: 49%;
	margin: 0 25.5%;
}


.footer > div {
	display: flex;
	justify-content: space-between;
	padding: 10px 20px 0 10px;
}
.footer > div > ul {
	display: flex;
	padding: 0;
}

.footer > div > ul > li {
	list-style: none;
	margin-left: 10px;
}

.footer > div > ul > li > a {
	color: #1666D6;
}
