* {
	/* TODO: 어떤 코드가 들어가야 할까요? */
	box-sizing: border-box;
}

html {
	/* TODO: 어떤 코드가 들어가야 할까요? */
	line-height: 1.15;
  	-webkit-text-size-adjust: 100%;
}

body {
	/* TODO: 어떤 코드가 들어가야 할까요? */
	margin: 0;
	padding: 0;
	font: normal normal 16px/1.6 "Helvetica Neue", helvetica, arial, sans-serif;
}

/* TODO: 또 어떤 코드들이 들어가야 할까요? */



a {
	background-color: transparent;
	text-decoration: none;
	color: inherit;
}
  
img {
	border-style: none;
}

.nav {
	background-color: #242A2F;
	display: flex;
	height: 64px;
	padding: 16px;
}

.logo-div {
	background-color: white;
	border-radius: 50%;
	border: none;
}

nav {
	display: flex;
}

.nav-search-div {
	margin-left: 15px;
	font-size: 14px;
	display: flex;
	color: #aaa;
	align-content: center;
	align-items: center;
}

.nav-search-div div{
	background-color: #404548;
}

.nav-repo-div {
	color: #CED1D1;
	padding: 8px;
	border-radius: 10px 0 0 10px;
}

.nav-search-input {
	margin-left: 2px;
	padding: 8px;
	border-radius: 0 10px 10px 0;
}

.nav-search-input > input {
	background-color: #404548;
	outline: none;
	border: none;
	width: 200px;
}

.nav-search-input > input::placeholder {
	color: #777B7E;
	font-size: 14px;
}

.nav-menu-div {
	display: flex;
	align-items: center;
}

.nav-menu-text {
	display: flex;
	padding-left: 0;
}

.nav-menu-text li {
	list-style: none;
	margin-left: 10px;
	color: #FCFCFC;
}

.nav-menu-text li:hover {
	list-style: none;
	margin-left: 10px;
	color: #C9C9C9;
}

.main {
}

.main-header {
	background-color: #FAFBFC;
	padding: 10px 10% 0 10%;
	border: 1px solid #ccc;
}

.main-header > h1 {
	margin: 0;
	padding: 10px;
	font-size: 20px;
	font-weight: 400;
}
.main-header > h1 > span a{
	color: #1666D6;
}

.main-header > h1 > img{
	width: 20px;
	height: 20px;
}

.h1-sep{
	color: #333;
}

.main-header > nav > ul{
	display: inline-block;
	margin-bottom: 0;
	padding: 0 0 8px 0;
}

.main-header > nav > ul li {
	display: inline;
	list-style: none;
	margin-left: 20px;
	color: #555;
	padding: 5px;
}

.main-header > nav > ul > li  span{
	background-color: #E8E9EB;
	padding: 2px 6px;
	border-radius: 50%;
}

.main-header > nav > ul > li img{
	margin-bottom: -3px;
}

.main-header > nav > ul > .active {
	color: #333;
	background-color: #fff;
	border-top: 3px solid red;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 5px solid #fff;
	padding: 8px;
}

.main-detail {
	padding: 0 10%;
}
.main-detail > h2 {
	padding: 0 20px;
	font-weight: 400;
	font-size: 20px;
}

.main-detail > ul {
	display: inline-block;

}

.main-detail > ul li {
	list-style: none;
	display: inline-block;
}