html, body, div, span, h1, h2, h3, h4, h5, h6, p, pre,
img, footer, header, nav {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

body {
	line-height: 1;
	width: 100%;
}

#app {
	padding: 50px 100px;
}

.header-title {
	font-size: 30px;
}

.menu {
	width: 100%;
	margin-top: 30px;
	display: flex;
	border: 1px solid #333;
}

.icon-div {
	display: flex;
	width: 200px;
}

.sep {
	min-width: 5px;
	min-height: 20px;
	margin-left: 20px;
	background-color: #333;
}

.icon {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px 10px;
	background-color: #4CD579;
	color: #fff;
	border-radius: 10px;
	margin-left: 10px;
}

.icon-name {
	font-size: 18px;
	font-weight: 500;
}

.tab-div {
	display: flex;
	align-items: center;
	background-color: #ccc;
}

.tab {
	position: relative;
	display: flex;
	align-items: center;
	height: 100%;
}

.tab-name {
	margin-left: 10px;
	margin-right: 25px;
}
.close-tab {
	position: absolute;
	right: 0;
	margin-right: 10px;
}

.close-tab:hover {
	background-color: #aaa;
	border-radius: 50%;
}


